<%- include('includes/head'); %>
<%- include('includes/navbar'); %>
<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 my-3">
            <h1 class="text-center">Contato</h1>
            <p class="text-center lead">Crie ou edite seu contato abaixo.</p>
            
            <%- include('includes/messages'); %>

            <% if (contato._id) { %>
                <form action="/contato/edit/<%= contato._id %>" method="POST">
            <% } else { %>
                <form action="/contato/register" method="POST">
            <% } %>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="mb-3">
                    <label for="" class="form-label">Nome</label>
                    <input type="text" name="nome" class="form-control" id="inputNome">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Sobrenome</label>
                        <input type="text" name="sobrenome" class="form-control" id="inputSobrenome">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Email</label>
                        <input type="email" name="email" class="form-control" id="inputEmail">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Telefone</label>
                        <input type="tel" name="telefone" class="form-control" id="inputTelefone">
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>
<%- include('includes/footer'); %>